[submodule "virtualize"]
	path = virtualize
	url = https://github.com/mitmedialab/virtualize
[submodule "virtualize-homebrew"]
	path = virtualize-homebrew
	url = https://github.com/mitmedialab/virtualize-homebrew
